<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello,world!</title>

  <style>

   
  </style>
</head>
<body>
  <div style="display:flex;background:lightgreen; justify-content:center; align-items:center;height:100vh;flex-direction:column">
    <div style="font-family:verdana">
    <h1 id="demo1"> 
    Welcome <%=name%> </h1>
    </div>
    <div>
<button style="font-family:verdana; background:black; color:black;border-radius: 12px;font-size: 1.5em"><a style="color:white" href='https://imaginative-alpaca-e39308.netlify.app/home'>exlpore</a></button>;

    </div>
</div>
  
</body>
</html>
